/* =============
    Dash Content
============= */

#dashboard-animation{
    background-color: $black;
	>div {
		//padding-left: 20vw;
		align-items: center;
		background-color: $black;
		display: flex;
		height: 100vh;
		justify-content: center;
		position: fixed;
		width: 100%;
		margin-left: -15vw;
padding-right: 15vw;
		svg {
			width: 100%;
			
				}
				#mountains {
					visibility: hidden;
				}
		
				#dunes {
					visibility: hidden;
				}
		
				#waves {
					visibility: hidden;
				}
				#liquid{
					z-index: 5;
					overflow: hidden;
				}
				#gas-outline2{
					z-index: 10;

				}
				#city-lines{
					visibility: hidden;
				}
				#waves-line{
					visibility: hidden;
				}
				#dunes-line{
					visibility: hidden;
				}
				#mountains-line{
					visibility: hidden;
				}
				#SURF{
					//visibility: hidden;
				}
				#CITY-WORD{
					//visibility: hidden;
				}
				#SAND{
					//visibility: hidden;
				}
				#STEEP{
					//visibility: hidden;
				}

	}
	

}