/* =============
    Dash Content
============= */

#dashboard-animation{
    background-color: $black;
	>div {
		//padding-left: 20vw;
		align-items: center;
		background-color: $black;
		display: flex;
		height: 100vh;
		justify-content: center;
		position: fixed;
		width: 100%;

		svg {
			width: 100%;
			
				}
				#mountains {
					visibility: hidden;
				}
		
				#dunes {
					visibility: hidden;
				}
		
				#waves {
					visibility: hidden;
				}
				#radio-info{
					visibility: hidden;
				}
				#tread{
					visibility: hidden;
				}
				#liquid{
					z-index: 5;
				}
				#gas-outline2{
					z-index: 10;

				}
	}
	

}