/* =============
    logo-reveal
============= */

#logo-reveal{
    background-color: $black;
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: ". svg2 .";
    grid-template-rows: 100vh;
    >div{
        background-color: $black;
        grid-area: svg2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        svg{
            width: 100%;
        }
        // #jeep-logo{
        //     visibility: hidden;
        // }
        // #E{
        //     visibility: hidden;
        // }
        // #E2{
        //     visibility: hidden;
        // }
        // #P{
        //     visibility: hidden;
        // }
    }

}