/* =============
    opening-anim
============= */
#opening-anim{
    background-color: $black;
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-areas: ". svg .";
    grid-template-rows: 100vh;
    >div{
        background-color: $black;
        grid-area: svg;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        svg{
            width: 100%;
        }
        #mountains{
            visibility: hidden;
        }
        #dunes{
            visibility: hidden;
        }
        #waves{
            visibility: hidden;
        }
        #city{
            visibility: hidden;
        }
        #jeep-logo{
            visibility: display;
        }
        #E{
            visibility: hidden;
        }
        #E2{
            visibility: hidden;
        }
        #P{
            visibility: hidden;
        }
    }

}
