/* =============
    opening-anim
============= */
#opening-anim{
    background-color: $black;
    display: grid;
    grid-template-columns: auto 100% auto;
    grid-template-areas: ". svg .";
    //grid-template-rows: 100vh;
    margin-left: 0;
    >div{
        background-color: $black;
        grid-area: svg;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        svg{
            width: 100%;
        }
        #mountains{
            visibility: hidden;
            display: flex;
        justify-content: center;
        align-items: center;
        }
        #dunes{
            visibility: hidden;
            display: flex;
        justify-content: center;
        align-items: center;
        }
        #waves{
            visibility: hidden;
            display: flex;
        justify-content: center;
        align-items: center;
        }
        #city{
            visibility: hidden;
            display: flex;
        justify-content: center;
        align-items: center;
        }
        #dash-outline{
            visibility: hidden;
        }
    }

}
