/* =============
    opening-anim
============= */
#opening-anim {
	background-color: $black;
	display: grid;
	grid-template-areas: ". svg .";
	grid-template-columns: auto 100% auto;
	margin-left: 0;

	>div {
		align-items: center;
		background-color: $black;
		display: flex;
		grid-area: svg;
		height: 100vh;
		justify-content: center;
		position: fixed;
		width: 100%;

		svg {
			width: 100%;
				}

		#mountains {
			visibility: hidden;
		}

		#dunes {
			visibility: hidden;
		}

		#waves {
			visibility: hidden;
		}

		#city {

			visibility: hidden;
		}

		#dash-outline {
			visibility: hidden;
		}
	}
}